/*Police d'écriture*/
@font-face{
  font-family: 'Max';
  src: url('../fonts/Maximum Impact.ttf');
}
@font-face{
  font-family:  'akzidenz';
  src: url('../fonts/akzidenz-grotesk-bold.ttf')
}
@font-face{
  font-family:  'Gasolyn';
  src: url('../fonts/Gasolyn-Stamp.ttf')
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');


/*Propriétés général*/
.bg-sand{
  background: rgb(81,85,97);
  background: linear-gradient(90deg, rgb(81, 85, 97) 9%, rgb(178, 132, 116) 44%, rgb(24, 24, 24) 84%); 
}
.bg-grade{
  background: #515561
}
h1{
  color: whitesmoke;
  font-size: 1.5em;
}
h2{
  font-family:  Max, Fairies ,Roboto ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  text-shadow: 1px 1px 2px black, -1px -1px 1em black, -1px -1px 0.2em black;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
h3{
  text-decoration: none;
  font-family: 'Max';
  color: #2e2e31;
}
/*text de la Une, avec preparation pour l'effet zoom*/
.resume>p{
  color: white;
  font-size: 1.5em;
  font-family: Max, Fairies ,Roboto ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 2px black, -1px -1px 1em black, -1px -1px 0.2em black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
p{
  color: black;
}
p card-text{
  font-family: Max, Fairies ,Roboto ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 3px 0 rgba(0,0,0,0.6);
}

/*hover sur le text et titre de la une*/
.resume:hover{ 
  font-size: 1.1em; 
}

/*Pour enlever le soulignement des cards de bootsrap*/
a:link 
{ 
 text-decoration:none; 
} 
.text-muted.text-dark{
  color: black !important;
}

/*Modification couleur label nouvelle article et edit article*/
.label-color{
  color: whitesmoke;
}

/*NAVBAR*/
.navbar-dark{
  color: white;
}
.navbar-dark .navbar-nav{
  color: #D8B199;
}
.navbar-dark  .nav-right{
  color: rgb(81,85,97);
}
.dropdown-menu{
  background-color:rgb(216,177,153);
  border: none;
}
.navbar-nav .nav-item .black-effect:hover{
  color: black;
}

.img-container-navbar{
	width: 50px;
	height: 50px;
	display: block;
}

.profil-pic{
  width: auto;
}

/*Bannière*/
.banner{
  background-image: url("../images/micro_noir4.jpg");
  background-size: cover;
  height: 450px;
}

/*Titre rotatif*/
@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
body {
  font-family: helvetica, arial, sans-serif;   
}
.title {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.title:before,
.title:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid #b28474;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
.title:before {
  border-color: #d8b199 #d8b199 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}
.title:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d8b199 #d8b199;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

/*Vignettes de la section Une*/
.thumbnail{
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
}

/*Footer et RS*/

.footer svg{
  max-height: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: url('#goo');
}
.button {
cursor: pointer;
 z-index: 99;
  position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 150px;
 height: 40px;
 background: rgb(56,47,43);
 background: radial-gradient(circle, rgba(56,47,43,1) 38%, rgba(64,52,48,1) 49%, rgba(24,24,24,1) 61%);   
 border-radius: 20px;
 color: #fff;
 font-size: 15px;
 letter-spacing: 1px;
 font-weight: 200;
}
.social {/*icones du font awesome arrondies*/
 opacity: 0;
 position: relative;
 margin: 8px;
 width: 40px;
 height: 40px;
 border-radius: 100%;
 display: inline-block;
 color: #fff;
 font-size: 20px;
 text-align: center;
}
.social i {
 margin-top: 10px;
}
.social a {
 color: #fff;
}
.twitter {
 background: #00aced;
}
.facebook {
 background: #3b5998;
}
.instagram {	 
 background-color: #FEE140;
 background-image: linear-gradient(45deg, #FEE140 0%, #FA709A 58%, #9618bc 94%);	 
}
.youtube {
 background: #b00;
}
.clicked {
 opacity: 1;
 transition: 1.2s all ease;/*transition est un raccourci pour les 4 propriétés de transitions*/
 transform: translateY(56px); /*La fonction translateY() permet de déplacer un élement verticalement sur le plan*/
}
.liens{
  margin-top: 1.1em;
  text-align: center;
  
  color: white;
}

/*Liste des articles*/
.card-img-top{
  max-height: 100%;
}
.card{
  margin-bottom: 20px;
}

.likescounter{
	bottom: 10px;
  right: 10px;
  background-color: rgba(250, 250, 250, 0.8);
}

.fa-thumbs-up{
	font-size: 2rem;
}

.list-body{
	position: absolute;
}

.list-title{
	font-size: 1.5rem;
}

.js-like{
	text-shadow: 2px 2px 5px whitesmoke, -2px -2px 5px whitesmoke, -2px 2px 5px whitesmoke, 2px -2px 5px whitesmoke;
}

/*page article */
.article-view>p>a{
  color: white;
}
.alert-primary{
  background-color: black;
  border-color: white;
}
.alert-danger{
  background-color: #c62828;
  border-color: #fb8c00
}

.img-container-comment{
	width: 30px;
	height: 30px;
	display: block;
}

/*hr stylisé qui sépare l'article des commentaires crée en deux temps et superposé l'un sur l'autre avec la fonction after et before*/
hr.style { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/*effet sur image Bruce*/
.bruce{
  filter: sepia(0.6) contrast(1.20) drop-shadow(0 0 0.75rem rgba(204, 200, 201, 0.849));
  -webkit-filter: sepia(0.6) contrast(1.20) drop-shadow(0 0 0.75rem rgba(204, 200, 201, 0.849));
}

/*Effet sur le formulaire*/
.border-form{
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 5px solid #FFFFE2;
  padding: 5%;
  color: #FFFFE2;
  -webkit-box-shadow: 0px 0px 21px -3px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 21px -3px rgba(209,209,209,1);
  box-shadow: 0px 0px 21px -3px rgba(209,209,209,1);
  background: rgb(39,39,43);
  background: rgb(73,73,77);
  background: linear-gradient(34deg, rgba(73,73,77,1) 3%, rgba(39,39,43,1) 41%, rgba(54,54,69,1) 47%, rgba(39,39,43,1) 51%);  
}
#registration_form_save{
  color: #FFFFE2;
  background-color: #B28474;
  border-color: white;
  margin-top: 20px;
}
.btn.btn-lg{
  color: #FFFFE2;
  background-color: #B28474;
  border-color: white;
  margin-top: 30px;
}
#inputEmail{
  margin-bottom: 17px;
}

/* Formulaires */
.custom-file-label::after{
  content: 'Parcourir';
}

#article_picture{
  opacity: 0;
}


/*bouton envoyer commentaires*/
#comment_save{
  color: #FFFFE2;
  background-color: #B28474;
  border-color: white;
}

/*page article */
.article-view>p>a{
  color: white;
}
.alert-primary{
  background-color: black;
  border-color: white;
}
.alert-danger{
  background-color: #c62828;
  border-color: #fb8c00
}

/* affichage des photo de profil des user */
.comment-profil-pic{
  border-radius: 50%;
  max-width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  max-block-size: 50px;
  margin-right: 10px;
}

/*Taille des photos dans les cards pour avoir une taille commune quelle que soit la dimension d'origine*/
.card-img-top {
  width: 100%;
  height: 55vw;
  object-fit: cover;
}
/*Taille de la photo en une du site*/
.card-img-top-top{
  width: 100%;
  height: 65vw;
  object-fit: cover;
}
/*
Zoom sur les cards
*/
.item-zoom {
	position: relative;
	overflow: hidden;/*grâce à la propriété CSS overflow, je fais en sorte que le dépassement de contenu soit masqué.*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.item-zoom img {
	vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.item-zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*Effets de detachement et de relief sur les cards*/
.card-deck:before{
  content: " ";
  position: absolute;
  width: 85%;
  height: 50px;
  left: 6%;
  bottom: 28px;
  background: #000;
  -moz-box-shadow: 0 25px 15px rgb(0,0,0);
  -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
  -o-box-shadow: 0 25px 15px rgb(0,0,0);
  -ms-box-shadow: 0 25px 15px rgb(0,0,0);
  -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
  box-shadow: 0 25px 15px rgb(0,0,0);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -khtml-transform: rotate(-5deg);
  transform: rotate(-3deg);
  z-index: -1;
}
.card-deck:after{
  content: " ";
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 50px;
  left: 6%;
  bottom: 28px;
  background: #000;
  -moz-box-shadow: 0 25px 15px rgb(0,0,0);
  -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
  -o-box-shadow: 0 25px 15px rgb(0,0,0);
  -ms-box-shadow: 0 25px 15px rgb(0,0,0);
  -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
  box-shadow: 0 25px 15px rgb(0,0,0);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -khtml-transform: rotate(5deg);
  transform: rotate(3deg);
  z-index: -1;
}

/*meme effet adapté aux petites cards*/
.card-deck-small:before{
  content: " ";
  position: absolute;
  width: 83%;
  height: 50px;
  left: 17px;
  bottom: 25px;
  background: #000;
  -moz-box-shadow: 0 25px 15px rgb(0,0,0);
  -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
  -o-box-shadow: 0 25px 15px rgb(0,0,0);
  -ms-box-shadow: 0 25px 15px rgb(0,0,0);
  -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
  box-shadow: 0 25px 15px rgb(0,0,0);
  -moz-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -khtml-transform: rotate(-5deg);
  transform: rotate(-8deg);
  z-index: -1;
}
.card-deck-small:after{
  content: " ";
  position: absolute;
  bottom: 0;
  width: 83%;
  height: 50px;
  left: 17px;
  bottom: 25px;
  background: #000;
  -moz-box-shadow: 0 25px 15px rgb(0,0,0);
  -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
  -o-box-shadow: 0 25px 15px rgb(0,0,0);
  -ms-box-shadow: 0 25px 15px rgb(0,0,0);
  -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
  box-shadow: 0 25px 15px rgb(0,0,0);
  -moz-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -khtml-transform: rotate(5deg);
  transform: rotate(8deg);
  z-index: -1;
}

/*Liste des articles Menu Paginator*/
.pagination .page-item .page-link{
  background-color: black;
  color: #ffffff;
}
.pagination .page-item.disabled{
  cursor: not-allowed;
}
.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
  color: #B28474;
}
.pagination .page-item a.page-link:hover{
  background-color: #515561;
}

/* Images de profil */
.img-container{
  	width: 84px;
  	height: 84px;
}
.profil-pic{
    width: auto;
}
.profil-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit_photo_save{
  margin: 0;
}
.custom-file-input{
  opacity: 1;
  color: white;
}

/*Media Queries*/

@media  screen  and (min-width: 640px){
  .banner{
    display: none;
    }
  } 
@media screen and (min-width: 575px){
  /*Taille des photos dans les cards pour avoir une taille commune quelle que soit la dimension d'origine*/
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
/*Taille de la photo en une du site*/
.card-img-top-top{
  width: 100%;
  height: 25vw;
  object-fit: cover;
  }
}
@media screen and (min-width:768px){
	.card-style .card-body{
		height:200px;
	}
	.list-body{
		position: static;
	}
	
}
@media screen and (min-width:990px){
	.card-style .card-body{
		height:300px;
	}
}
@media screen and (min-width:1120px){
	.card-style .card-body{
		height:200px;
	}
}

/* Placement de l'iframe spotify */
.iframe-spotify{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
}