{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h2 class="col-12 text-center my-4">Modifier un article</h2>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 label-color">
                {# Affichage du form de création d'un new article #}
                {{ form(form)}}
            </div>
        </div>

    </div>

{% endblock %}