{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 403 : Accès Interdit{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ asset('images/error403.jpg') }}" alt="Erreur 403, accès interdit" class="img-fluid m-3">

                <style>
                    @font-face{
                        font-family: 'Pots';
                        src: url('../fonts/Potsdam.ttf');
                    }
                    h1{
                        font-family: Pots,Arial, Helvetica, sans-serif;
                    }
                </style>
                <h1 style="margin-top: -6rem; margin-right:0em; font-size:3em; text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);">Erreur 403 : Acces interdit</h1>
            </div>
        </div>

    </div>

{% endblock %}
