{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 404 : Page Introuvable{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center" style="background-color: ;">
                <img src="{{ asset('images/error404.png') }}" alt="Erreur 404, page introuvable" class="img-fluid m-3">
            </div>
        </div>

    </div>

{% endblock %}
